Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sampro/public/

    # Static files directly serve karo
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # index.php pe bhejo
    RewriteRule ^(.*)$ index.php/$1 [L,NC,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /sampro/public/index.php
</IfModule>
